<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos Knights Army Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ data.faction if data.faction else "Army Builder" }}</h1>

    <div class="container">
        <div class="left-column">
            <div class="builder-buttons">
                <label for="detachment-select">Select Detachment:</label>
                <select id="detachment-select">
                    {% for detachment in detachments %}
                        <option value="{{ detachment.id }}">{{detachment.name}}</option>
                    {% endfor %}
                </select>
                <button type="button" id="update-detachment-btn">Update Detachment</button>
                <br>
                <label for="unit">Select Unit:</label>
                <select id="unit">
                    {% for unit in units %}
                        <option value="{{ unit.unit_id }}">{{ unit.unit_name }} ({{ unit.points_range[0] }} pts)</option>
                    {% endfor %}
                </select>
                <button type="button" id="add-unit-btn">Add Unit</button>
            </div>

            <h2></h2>
            <div id="detachment-rules"></div>

            <h2>Army List</h2>
            <div id="army-list"></div>
            <button type="button" id="reset-army-btn">Reset Army</button>
        </div>

        <div class="right-column">
            <h1>Army Rules</h1>
            {% for file in armyRuleFiles %}
            {% for rule, content in file.items() %}
                <div class="text-file">{{ content }}</div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <script>
        window.abilityFiles = {{ abilityFiles | tojson | safe }};
        console.log("window.abilityFiles:", window.abilityFiles);

        window.detachmentRuleFiles = {{ detachmentRuleFiles | tojson | safe }};
        console.log("window.detachmentRuleFiles:", window.detachmentRuleFiles);

        window.currentArmy = {{ currentArmy | tojson | safe }};
        console.log("window.currentArmy:", window.currentArmy);

        window.currentDetachment = {{ currentDetachment | tojson | safe }};
        console.log("window.currentDetachment:", window.currentDetachment);
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>