<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Army Builder Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Warhammer 40K 11th Edition Army Builder</h1>

    <form>
        <select id="faction_select">
            <option value="">Select a Faction</option>
            {% for faction in factions %}
                <option value="{{ faction }}">{{ faction }}</option>
            {% endfor %}
        </select>
        <button type="button" onclick="submitFaction()">Submit</button>
    </form>
    <div id="faction_data">
        <form>
            <select id="datasheet_select">
                <option value="">Select a Datasheet</option>
                {% for datasheet in datasheets %}
                    <option value="{{ datasheet }}">{{ datasheet }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>